.div_one {
  display: flex;
  border: 2px solid gray;
  width: 1000px;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 5%;
  columns: 200;
  margin: 3% auto;
}
  
.keyboard {
  width: 1000px;
  height: 350px;
  border: 2px solid gray;
  padding: 5px;
  background-color: rgba(252, 252, 252, 0.952);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;   
}

.keyboard::after {
  content: '';
  display: block;
  clear: both;
}

.keys {
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 7%;
  background-color: rgb(48, 39, 167);
  box-shadow: 1px;
  margin: 3px;
  padding: 3px;
  flex-direction: row;
  box-shadow: 0 0 10px rgba(7, 30, 233, 0.7);
  font-size: 24px;
}

.active {
  background: cyan;
}
  